In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("G:\\downloads\\covid-19-26.csv")
df.head()

,id,gender,age,heart_rate,temperature,SpO2_saturation,bpm,Health_Status
0,1,male,66.0,70,38.6,88.0,75,Infected
1,2,female,56.0,74,39.6,88.0,70,Infected
2,3,male,46.0,82,37.2,98.0,83,Non Infected
3,4,female,60.0,90,38.6,98.0,75,Non Infected
4,5,male,58.0,72,39.6,93.0,78,Infected

In [6]:
df.isnull().sum()

id                   0
gender             183
age                242
heart_rate           0
temperature          0
SpO2_saturation      0
bpm                  0
Health_Status        0
dtype: int64

In [21]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
X=df.iloc[:,3:7]
y=df["Health_Status"]
X.head()
y.head()

   heart_rate  temperature  SpO2_saturation  bpm
0          70         38.6             88.0   75
1          74         39.6             88.0   70
2          82         37.2             98.0   83
3          90         38.6             98.0   75
4          72         39.6             93.0   78

0        Infected
1        Infected
2    Non Infected
3    Non Infected
4        Infected
Name: Health_Status, dtype: object

In [22]:
from sklearn.model_selection import train_test_split ##Splitting train and test, fitting the model

from sklearn.ensemble import RandomForestClassifier
dcf= RandomForestClassifier()
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
X_train.shape

y_train.shape

X_test.shape

y_test.shape

(868, 4)

(868,)

(217, 4)

(217,)

In [24]:
dcf.fit(X_train,y_train)
y_predict = dcf.predict(X_test)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [25]:
from sklearn.metrics import confusion_matrix,accuracy_score  #Accuracy Check
accuracy_score(y_test,y_predict)

1.0